.logo img{
	height: 100px;
}

.menu{
	font-weight: 500 !important;
	text-transform: uppercase;
	padding: 0 20px !important;
	border-left: 1px solid #666 !important;
	font-size: 18px !important;
}

.menu:first-child{
	border-left: none !important;
}

.menu a{
	color: #666;
	text-decoration: none;
}

.menu a:hover {
	opacity: 0.7;
}

.carrosel .carousel-item{
	height: 750px;
	overflow: hidden;
}

.carrosel .carousel-item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.servico img{
	width: 100%;
	object-fit: cover;
	display: block;
	height: 70%;
}

.section {
	margin: 0 4%;
}

.section h3{
	background-color: black;
	color: white;
	padding: 2%;
	font-size: 1.2rem;
}

.tituloSection {
	background-color: #bebebe;
	padding: 3%;
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
}

.imagem_cliente {
	position: relative;
	margin-left: 140%;
	margin-top: -30%;
	z-index: 0;
}

.txt_clientes{
	position: relative;
	z-index: 1;
	color: #666;
	font-weight: 200;
	margin-right: -20%;
}

.titulo_cliente {
	padding-top: 5%;
	padding-bottom: 3%;
	
}

.img_Delivery {
	z-index: 0;
	padding-left: 4%;
}

.atendimento_txt {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: rgb(193, 221, 34);
	z-index: 1;
	padding-top: 5%;
	font-weight: bolder;
	color: black;
}

.delivery {
	padding-top: 5%;
	padding-bottom: 3%;
	margin-right: 4%;
	display: flex;
}

.delivery_titulo {
	color: black;
	font-size: 300%;
	padding-top: 2%;
	font-weight: bold;
}

.titulo_delivery {
	font-size: 200%;
}

.formulario {

	padding: 2%;
	background-color: #666;
}

.forms {

	display: grid;
}

.mensagemForms{

	
	height: 200px;
}

/* ================== Componentes Contato ====================== */
.contato{
	background: #333;
}

.form{
	margin: 10px 0;
}

.form input, .form textarea{
	width: 100%;
	padding: 5px;
}

.form textarea{
	height: 300px;
	resize: none;
}

.form input[type=submit]{
	width: auto;
	padding: 5px 20px;
	background-color: #666;
	color: white;
	float: right;
}

.info, .icones{
	color: white;
}

.contato h1{
	color: white;
	font-size: 25px;
	text-align: center;
}

.contato span{
	font-size: 20px;
}

iframe{
   width: 100%;
   height: 300px;
}
